@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$main-bg-color: #F2F2F2;
$header-font-color:#45852D;
$font-family: 'Open Sans', sans-serif;
$border-color: #D8D8D8;
$btn-color: #D8D8D8;
$card-bg-color: #F8F8F8;
$cards-font-color: #363636;
